* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    scroll-snap-type: both proximity;
    scroll-behavior: smooth;
    
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background: #0a0a0a;
    color: aliceblue;
    overflow-x: hidden;
    overflow-y: scroll;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 1vh;
    align-items: center;
    justify-content: space-around;
    font-size: medium;
    font-weight: 600;
    background-color: #00000000;
}

section {
    min-height: 100vh;
    width: 100vw;
}

#experience, #projects, #about .title {
    display: flex;
    flex-direction: column;
    & .main {
        position: relative;
        font-size: 45px;
        font-weight: 600;
        width: fit-content;
        &::after {
            content: '';
            position: absolute;
            bottom: 8%;
            left: 0;
            height: 6%;
            width: 100%;
            border-radius: 90px;
            background: linear-gradient(90deg, #eeff0088, #00aeff88, #ff00f288);
        }
    }
    & .desc {
        font-size: 20px;
        color: rgba(240, 248, 255, 0.598);
        font-style: italic;
    }
}

/* -- Main pages -- */

#home {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    & .quick-desc {
        display: flex;
        flex-direction: column;
        gap: 4vh;
        & .names {
            font-size: 65px;
            letter-spacing: 0.5vw;
            font-weight: 600;
            & .name {
                width: fit-content;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 8%;
                    left: 0;
                    height: 6%;
                    width: 100%;
                    border-radius: 90px;
                    background: linear-gradient(90deg, #eeff0088, #00aeff88, #ff00f288);
                }
            }
        }
        & .description {
            font-size: 26px;
        }
    }
    & .imagur {
        display: flex;
        position: relative;
        height: 50vh;
        filter: brightness(1.2);
        &::after {
            content: '';
            position: absolute;
            top: calc(50% - 50px);
            left: calc(50% - 50px);
            height: 180px;
            width: 180px;
            border-radius: 90px;
            animation: color-carousel 9s infinite ease;
            z-index: -1;
        }
    }
}

@keyframes color-carousel {
    0% {
        box-shadow: 0 0 1000px #eeff00;
    }
    33% {
        box-shadow: 0 0 1000px #00aeff;
    }
    66% {
        box-shadow: 0 0 1000px #ff00f2;
    }
    100% {
        box-shadow: 0 0 1000px #eeff00;
    }
    
}

#experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
    background-color: rgba(21, 21, 21, 0.6);
    gap: 5vh;
    padding: 20vh;
    & .dev, .student, .other {
        font-size: 36px;
        font-weight: 600;
        & .mainer {
            margin-left: 4vw;
            position: relative;
            width: fit-content;
            display: flex;
            flex-direction: row;
            gap: 1vw;
            & span {
                font-weight: 1000;
                background: linear-gradient(90deg, #eeff00, #00aeff, #ff00f2);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    & .dev .cards, .student .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2vw;
        padding: 2vw 0.5vw;
        & .card {
            display: flex;
            flex-direction: row;
            gap: 1vw;
            padding: 1vw;
            border-radius: 15px;
            align-items: center;
            justify-content: center;
            & img {
                height: 50px;
            }
            & .info {
                display: flex;
                flex-direction: column;
                & .name {
                    font-size: 26px;
                    font-weight: 600;
                }
                & .desc {
                    font-size: 18px;
                    font-weight: 400;
                    font-style: italic;
                    color: rgba(240, 248, 255, 0.598);
                }
            }
        }
    }

    & .dev .cards .card {
        background-color: rgba(159, 163, 47, 0.1);
        border: 1px rgba(159, 163, 47, 0.3) solid;
    }

    & .student .cards .card {
        background-color: rgba(47, 107, 163, 0.1);
        border: 1px rgba(47, 107, 163, 0.3) solid;
    }
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
    gap: 5vh;

    padding: 20vh;

    & .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2vw;
        padding: 2vw 0.5vw;
        & .card {
            position: relative;
            display: flex;
            flex-direction: row;
            gap: 1vw;
            padding: 1vw;
            border-radius: 10px;
            overflow: hidden;
            min-height: 30vh;
            background: linear-gradient(transparent, rgb(32, 34, 39) 60%);
            border: 4px rgb(32, 34, 39) solid;
            & .bg {
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
            & .see-website {
                position: absolute;
                background-color: rgb(32, 34, 39);
                top: 1vw;
                right: 1vw;
                border-radius: 15px;
                padding: 8px 10px;
                transition: ease 0.2s;
                & .button {
                    font-size: 26px;
                    font-family: 'Material Symbols Rounded';
                    cursor: pointer;
                    background: linear-gradient(45deg, #eeff00, #00aeff, #ff00f2);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                &:hover {
                    background-color: rgb(46, 48, 52);
                }
            }
            & .info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                & .name {
                    font-size: 26px;
                    font-weight: 600;
                    background-color: rgb(32, 34, 39);
                    padding: 6px 12px;
                    border-radius: 15px;
                    width: fit-content;
                }
                & .desc {
                    font-size: 18px;
                    font-weight: 400;
                    font-style: italic;
                    color: rgba(240, 248, 255, 0.598);
                }
            }
        }
    }
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20vh;
    background-color: rgba(21, 21, 21, 0.6);
    gap: 5vh;
    & .parag {
        font-size: 20px;
    }
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20vh;
    gap: 3vw;
    & .head {
        display: flex;
        flex-direction: column;
        gap: 4vh;
        background-color: rgba(57, 59, 60, 0.3);
        border: 1px rgba(57, 59, 60, 0.4) solid;
        border-radius: 15px;
        padding: 2vh;
        width: 50vw;
        & .top {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2vw;
            & .photo-de-profile {
                object-fit: cover;
            }
            & .info {
                display: flex;
                flex-direction: column;
                & .name {
                    position: relative;
                    font-size: 45px;
                    font-weight: 600;
                    width: fit-content;
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 8%;
                        left: 0;
                        height: 6%;
                        width: 100%;
                        border-radius: 90px;
                        background: linear-gradient(90deg, #eeff0088, #00aeff88, #ff00f288);
                    }
                }
                & .work {
                    font-size: 20px;
                    color: rgba(240, 248, 255, 0.598);
                    font-style: italic;
                }
            }
        }
        & .bottom {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2vh;
            justify-content: center;
            & .info {
                display: flex;
                flex-direction: row;
                background-color: rgba(57, 59, 60, 0.3);
                padding: 10px 16px;
                border-radius: 15px;
                gap: 1vw;
                align-items: center;
                & .logo {
                    font-family: 'Material Symbols Rounded';
                    font-weight: 600;
                    font-size: larger;
                }
                & .service {
                    font-weight: 500;
                    text-decoration: underline;
                }
            }
        }
    }
    & .body {
        background-color: rgba(57, 59, 60, 0.3);
        border: 1px rgba(57, 59, 60, 0.4) solid;
        border-radius: 15px;
        padding: 2vh 3vh;
        font-size: 22px;
    }
    & .feet {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2vw;
        width: 70vw;
        & .card {
            display: flex;
            flex-direction: row;
            background-color: rgba(57, 59, 60, 0.3);
            border: 1px rgba(57, 59, 60, 0.4) solid;
            border-radius: 15px;
            padding: 2vh;
            gap: 2vh;
            & .links-logo {
                height: 50px;
                border-radius: 10px;
            }
            & .infos {
                display: flex;
                flex-direction: column;
                gap: 1.5vh;
                & .name {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    gap: 2vh;
                    background-color: rgba(57, 59, 60, 0.3);
                    border-radius: 10px;
                    padding: 2px 12px;
                    cursor: pointer;
                    & .company {
                        font-size: 22px;
                        font-weight: 600;
                        cursor: pointer;
                    }
                    & .see-website {
                        transition: ease 0.2s;
                        & .button {
                            font-size: 22px;
                            font-family: 'Material Symbols Rounded';
                            background: linear-gradient(45deg, #eeff00, #00aeff, #ff00f2);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            cursor: pointer;
                        }
                    }
                    &:hover {
                        background-color: rgb(46, 48, 52);
                    }
                }
                & .username {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1vh;
                    & .logo {
                        font-family: 'Material Symbols Rounded';
                        font-size: 20px;
                    }
                    & .namer {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

/* -- Backgriund circles -- */
.parallax-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    background: black;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(#eeff0088, #00aeff88, #ff00f288);
    filter: blur(100px);
    transition: all 0.3s ease;
}

/* -----       Phone adaptation       ----- */

@media only screen and (width < 1100px) {
    #home img {
        display: none;
    }
    
    #experience, #projects, #about, #contact {
        padding: 10vh;
    }
    
    #contact .head {
        width: 70vw;
    }
}

@media only screen and (width < 850px) {
    #experience, #projects, #about .title {
        & .main {
            font-size: 38px;
        }
        & .desc {
            font-size: 18px;
        }
    }
    #experience {
        gap: 2vh;
        & .dev, .student, .other {
            font-size: 30px;
            & .mainer {
                gap: 1vw;
            }
        }
    
        & .dev .cards, .student .cards {
            gap: 2vw;
            & .card {
                gap: 1vw;
                & img {
                    height: 40px;
                }
                & .info {
                    & .name {
                        font-size: 20px;
                    }
                    & .desc {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    
    #projects {
        gap: 2vw;
        & .cards {
            & .card {
                border-radius: 15px;
                min-height: 25vh;
                border: 2px rgb(32, 34, 39) solid;
                & .see-website {
                    & .button {
                        font-size: 22px;
                    }
                }
                & .info {
                    & .name {
                        font-size: 22px;
                    }
                    & .desc {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    
    #about {
        gap: 3vw;
        & .parag {
            font-size: 18px;
        }
    }
    
    #contact {
        gap: 3vw;
        & .head {
            width: 80vw;
        }
        & .body {
            font-size: 18px;
        }
    }
}

@media only screen and (width < 600px) {
    #experience, #projects, #about .title {
        & .main {
            font-size: 34px;
        }
        & .desc {
            font-size: 16px;
        }
    }

    #experience, #projects, #about, #contact {
        padding: 5vh;
    }

    #home {
        & .quick-desc {
            gap: 1vh;
            & .names {
                font-size: 50px;
            }
            & .description {
                font-size: 20px;
            }
        }
    }
    
    #experience {
        & .dev, .student, .other {
            font-size: 28px;
        }
    
        & .dev .cards, .student .cards {
            & .card {
                gap: 2vw;
                padding: 2vw;
                & img {
                    height: 30px;
                }
                & .info {
                    & .name {
                        font-size: 20px;
                    }
                    & .desc {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    
    #projects {
        & .cards {
            & .card {
                min-height: 20vh;
                & .see-website {
                    & .button {
                        font-size: 18px;
                    }
                }
                & .info {
                    & .name {
                        font-size: 18px;
                    }
                    & .desc {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    
    #about {
        & .parag {
            font-size: 16px;
        }
    }
    
    #contact {
        & .head {
            gap: 1vh;
            padding: 1vh;
            width: 90vw;
            & .top {
                & .photo-de-profile {
                    height: 100px;
                }
                & .info {
                    & .name {
                        font-size: 30px;
                    }
                    & .work {
                        font-size: 16px;
                        color: rgba(240, 248, 255, 0.598);
                        font-style: italic;
                    }
                }
            }
            & .bottom {
                gap: 1vh;
                & .info {
                    & .logo, .service, .type {
                        font-size: 16px;
                    }
                }
            }
        }
        & .body {
            font-size: 16px;
        }
        & .feet {
            width: 95vw;
            & .card {
                padding: 1vh;
                gap: 1vh;
                & .links-logo {
                    height: 40px;
                }
                & .infos {
                    gap: 1vh;
                    & .name {
                        gap: 1vh;
                        padding: 2px 8px;
                        & .company {
                            font-size: 20px;
                        }
                        & .see-website {
                            & .button {
                                font-size: 20px;
                            }
                        }
                    }
                    & .username {
                        gap: 1vh;
                        & .logo {
                            font-size: 14px;
                        }
                        & .namer {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (width < 450px) {
    #experience, #projects, #about .title {
        & .main {
            font-size: 30px;
        }
        & .desc {
            font-size: 14px;
        }
    }

    #home {
        & .quick-desc {
            gap: 1vh;
            & .names {
                font-size: 50px;
            }
            & .description {
                font-size: 14px;
            }
        }
    }
    
    #experience {
        & .dev, .student, .other {
            font-size: 24px;
        }
    
        & .dev .cards, .student .cards {
            & .card {
                padding: 1vw 2vw;
                & .info {
                    & .name {
                        font-size: 18px;
                    }
                    & .desc {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    
    #projects {
        & .cards {
            & .card {
                & .info {
                    & .desc {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    
    #about {
        & .parag {
            font-size: 14px;
        }
    }
    
    #contact {
        & .head {
            & .top {
                & .photo-de-profile {
                    height: 80px;
                }
                & .info {
                    & .name {
                        font-size: 24px;
                    }
                }
            }
            & .bottom {
                gap: 1vh;
                & .info {
                    & .logo, .service, .type {
                        font-size: 14px;
                    }
                }
            }
        }
        & .body {
            text-align: center;
            font-size: 16px;
        }
        & .feet {
            & .card {
                width: 70vw;
                justify-content: space-between;
                gap: 2vh;
                & .links-logo {
                    height: 66px;
                }
                & .infos {
                    gap: 2vh;
                    width: 100%;
                }
            }
        }
    }
}